body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #1781d2, #7badfe);
}
.block {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;       
  margin: auto;
  padding: 10px;
}
.container img{
  width: 120px;
  position: absolute;
  left: 50%;
  top: -60px;
  transform: translateX(-50%);
  border-radius: 50%;
}
.container{
  position: relative;
  padding: 20px 20px 60px 20px;
  width: 340px;
  min-height: 250px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  overflow: visible;
}

.title{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.user{
  font-size: 25px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(25, 1, 98);
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.btn{
  border-radius: 10px;
  border: 1px solid rgb(30, 143, 236);
  padding: 10px;
  color: white;
  background-color: rgb(30, 143, 236);
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 80%;
}
.values{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}
.icon{
  border: none;
  background: transparent;
  font-size: 20px;
}
.active{
  color:  rgb(30, 143, 236);
}
.icon:hover{
  color:  rgb(30, 143, 236);
}
